*{
    margin: 10px;
    padding: 0px;
    background-color :white;
}
.container{
    padding: 40px;
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 40px;
}
select{
    width: 200px;
    border: 2px solid black;
}
.state,.city{
    visibility: hidden;
}